.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  --bs-gutter-x: 0;
}
.error {
  padding: 0.5rem;
  color: red;
  font-size: 0.75rem;
  text-transform: uppercase;
  font-style: italic;
  text-align: left;
}

.carousel-control-next-icon {
  background-image: url("https://img.icons8.com/ios-glyphs/24/000000/sort-right.png");
}
.carousel-control-prev-icon {
  background-image: url("https://img.icons8.com/ios-glyphs/24/000000/sort-left.png");
}
input {
  border: none;
}
input:focus {
  border: none;
}
.select-option {
  color: blue;
  cursor: pointer;
}
.customLabel {
  font-weight: 600;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.form-control1,
.form-control1:focus {
  display: block;
  width: 100%;
  padding: 0.5rem 1.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid white;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}

.form-control:focus {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
}
.form-select,
.form-select:focus {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.address {
  background-image: url("./assets/images/contactbg.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-width: 576px) {
  .App {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .App {
    font-size: 14px;
  }
  .contentHolder {
    background: white;
    min-height: 95vh;
    border-radius: 5px;
  }
}

@media (min-width: 992px) {
  .customLabel {
    font-size: 14px;
  }
  .contentHolder {
    background: white;
    min-height: 95vh;
    border-radius: 5px;
  }
}

@media (min-width: 1200px) {
  .App {
    font-size: 16px;
  }
  .contentHolder {
    background: white;
    min-height: 95vh;
    border-radius: 5px;
  }
}

@media (min-width: 1400px) {
  .App {
    font-size: 16px;
  }
  .contentHolder {
    background: white;
    min-height: 95vh;
    border-radius: 5px;
  }
}

.header-car-1 {
  /* background-image: url("./images/Header-image.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-car-2 {
  /* background-image: url("./images/Header-image-2.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header2 {
  /* background-image: url("./images/sbg.jpg"); */
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0 1.5rem;
}
.navbar-light .navbar-nav .nav-link:hover {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.325rem;
  font-weight: 700;
  padding: 0 1.5rem;
}

.customContainer {
  position: relative;
  top: -2.5rem;
  background: white;
}
.showreelTag {
  position: absolute;
  top: 85vh;
  left: 5%;
  color: white;
}
.holder1 {
  position: relative;
  top: 17.5vh;
  background: rgb(234, 13, 41);
  width: 100%;
  padding: 2.5rem 0;
  height: 70vh;
  z-index: 2;
  max-width: 320px;
  left: -3rem;
  align-items: center;
}
.shadowHolder {
  position: relative;
  top: 22.5vh;
  background: #9c071b;
  width: 100%;

  height: 60vh;
  z-index: 2;
}

.tag {
  font-size: 6.26rem;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 600;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}
.detp {
  font-style: italic;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.mainText {
  font-size: 1.5625rem;
  font-weight: 600;
}
.subText {
  font-size: 1.125rem;
}
.customP {
  font-style: italic;
  margin-bottom: 5px;
  font-size: 1.5625rem;
  font-weight: 300;
}
.customPend {
  font-style: italic;
  font-size: 1.6875rem;
  font-weight: 600;
}
.serviceName {
  color: white;
  font-weight: 600;
  margin: 0;
}
.heading {
  background: rgb(234, 13, 41);
  text-align: center;
}
.price {
  text-align: center;
  font-weight: 600;
}
.customPBold {
  font-weight: 600;
}
.customPItalicBold {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
}
.contentHolder {
  position: relative;
  background: white;
}
.services {
  background-image: url("./assets/images/servicebg.jpg");
  background-size: cover;
  background-position: center;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(199, 199, 199);
  border-radius: 2.5px;
  color: black;
  font-size: 2rem;
  padding: 7px;
}

.gifHolder {
  background-position: center;
  background-size: cover;
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  background-color: rgb(237, 237, 237);
}
.g1 {
  background-image: url("./assets/images/gif1.gif");
}
.g2 {
  background-image: url("./assets/images/gif2.gif");
}
.g3 {
  background-image: url("./assets/images/gif3.gif");
}
.g4 {
  background-image: url("./assets/images/gif4.gif");
}
.bg {
  height: 30rem;
  border-radius: 15px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/* .bg1 {
  background-image: url("./images/bnf/1.jpg");
  border-radius: 15px;
}
.bg2 {
  background-image: url("./images/bnf/2.jpg");
  border-radius: 15px;
}
.bg3 {
  background-image: url("./images/bnf/3.png");
  border-radius: 15px;
}
.bg4 {
  background-image: url("./images/bnf/4.png");
  border-radius: 15px;
}
.bg5 {
  background-image: url("./images/bnf/5.png");
  border-radius: 15px;
}
.bg6 {
  background-image: url("./images/bnf/6.png");
  border-radius: 15px;
}
.bg7 {
  background-image: url("./images/bnf/7.png");
  border-radius: 15px;
}
.bg8 {
  background-image: url("./images/bnf/8.png");
  border-radius: 15px;
}
.bg9 {
  background-image: url("./images/bnf/9.png");
  border-radius: 15px;
}
.bg10 {
  background-image: url("./images/bnf/10.png");
  border-radius: 15px;
}
.bg11 {
  background-image: url("./images/bnf/11.png");
  border-radius: 15px;
}
.bg12 {
  background-image: url("./images/bnf/12.png");
  border-radius: 15px;
} */
.video-js {
  width: 100vw;
  height: 100vh;
}
.video-player-1611215062074-dimensions {
  width: 100vw;
  height: 100vh;
}

/* .carousel-control-next-icon {
  background-image: url("./images/right.png");
}
.carousel-control-prev-icon {
  background-image: url("./images/left.png");
} */

.first-column {
  width: 49%;
  float: left;
}

.second-column {
  width: 49%;
  float: right;
}

.button-hover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 grey;
}

.howitworks {
  font-family: "HelveticaNeue-Medium", sans-serif;
  transform: scale(1, 1.3);
  -webkit-transform: scale(1, 1.3); /* Safari and Chrome */
  -moz-transform: scale(1, 1.3); /* Firefox */
  -ms-transform: scale(1, 1.3); /* IE 9+ */
  -o-transform: scale(1, 1.3); /* Opera */
}


.underline2 {
  display: block;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(rgb(255, 255, 255)),
    to(rgb(220, 1, 1))
  );
}
